#main {
	position:absolute;
	top:10px;
	left:10px;
	width:900px;
	height:900px;
	border:2px solid grey;
	background:url('../img/canberramap.png');
	opacity:0.5;
}

#slider { width: 150px; }

#name {
	z-index:10;
	display:none;
/*
	position:relative;
	top:20px;
	left:200px;

	width:120px;
	height:30px;
*/
	border:2px solid red;	
	background-color:white;
	color: red;
	padding:4px;
}
#name p {
	float:top;
	vertical-align:text-top;
}
